version: 2
jobs:
  build:
    docker:
      - image: younk/python-chromedriver
    steps:
      - checkout
      - run:
        command: pip3 install -r requirements.txt
      - run:
        command: python onboarding_revert.py

      
